body {
}
#cardRestaurante {
  
  background-size: cover;
}

.card {
  width: 95%;
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  margin-left: 8px;
  margin-top: 15px;
}

.card-container:last-child {
  margin-bottom: 0;
}

.card-title {
  margin: 0;
  font-size: 1.5rem;
  text-align: left;
}

.card-title-container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: #fff;
  background-color: rgba(0,0,0,0.6);
  width: 100%;
}

.card-subtitle {
  margin: 0;
  font-size: 1rem;
  color: #ccc;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .card {
    width: calc(33.33% - 20px);
    height: 300px;
    margin-bottom: 0;
  }

  .card-container {
    display: inline-block;
    margin-right: 20px;
  }

  .card-title-container {
    padding: 10px;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .card-subtitle {
    font-size: 0.8rem;
  }
}
